@import '../../stylesCommon/variables';
@import '../../stylesCommon/_common';
.button {
    font-size: 3rem;
    padding: 1rem 2rem;
    width: 36.5rem;
    text-align: center;
    background: none;
    border: 1px dashed $black;
    transition: 0.3s ease-in-out;
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    &-text {
        transform: skew(-30deg);
        -webkit-transform: skew(-30deg);
        -moz-transform: skew(-30deg);
        -ms-transform: skew(-30deg);
        -o-transform: skew(-30deg);
    }
    &:hover {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        background: $black;
        color: $white;
        cursor: pointer;
    }

    &_left {
        align-self: flex-end;
        margin-top: 5rem;
    }


}
.partners__btn {
    margin-top: 4rem;
}
.table__reset {
    background: $black;
    color: $white;
    // align-self: center;
    border: 1px dashed white;
    &:hover {
        background: $pink;
        color: $white;
    }
}
