@import '../../stylesCommon/variables';
@import '../../stylesCommon/_common';
@import '../../stylesCommon/_mixins';

.tableDescr {
    &__top {
        margin-top: 7.5rem;
        margin-bottom: 14.6rem;
        display: flex;
        align-items: center;
        @include breakpoint($tablet) {
            margin-top: 5rem;
            margin-bottom: 7rem;
        }

        @include breakpoint($smallTablet) {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-bottom: 7rem;
        }

        & button {
            @include breakpoint($smallTablet) {
                margin-top: 5rem;
                margin-left: 9%;
            }
        }
    }

    &__explan {
        margin-left: 5%;
    }

    &__item {
        font-size: 2rem;
        list-style-type: '⬚';
        padding-left: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    &__bottom {
        @include breakpoint($smallTablet) {
            margin-bottom: 2rem;
        }
    }

}