@import '../../stylesCommon/variables';
@import '../../stylesCommon/_common';

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;

    &__content {
        width: 60%;
        background: $white;
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;
        padding-right: 6.4rem;
        display: flex;
        flex-direction: column;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
    &__error {
        font-size: 2rem;
        margin-top: 3rem;
        padding-left: 6.4rem;
        color: $pink;
    }
    &__actions {
        align-self: flex-end;
        display: flex;
        font-size: 4rem;
        gap: 2rem;
    }
    &__icon {
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        &:hover {
            color: $pink;
            cursor: pointer;
        }
}
}