@import '../../stylesCommon/variables';
@import '../../stylesCommon/_common';
@import '../../stylesCommon/_mixins';

.partners {
    &__title {
        margin-bottom: 7.5rem;

        @include breakpoint($tablet) {
            margin-bottom: 1.5rem;
        }

    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;

        @include breakpoint($tablet) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }


    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        text-align: center;
        width: 58.7rem;
        height: 6.3rem;
        border: 1px dashed $pink;
        font-size: 3rem;
        color: $black;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @include breakpoint($tablet) {
            width: 80%;
        }
    }

    &__namePartner {
        font-size: 3rem;
        color: $black;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    &__explan {
        @include breakpoint($tablet) {
            order: -1;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__text-explan {
        color: $black;
    }

    // &__btn {
    //     margin-top: 4rem;
    //     font-size: 3rem;
    //     padding: 1rem 2em;
    //     text-align: center;
    //     background: none;
    //     border: 1px dashed $black;
    //     transition: 0.3s ease-in-out;
    //     transform: skew(30deg);
    //     -webkit-transform: skew(30deg);
    //     -moz-transform: skew(30deg);
    //     -ms-transform: skew(30deg);
    //     -o-transform: skew(30deg);

    //     &:hover {
    //         -webkit-transition: 0.3s ease-in-out;
    //         -moz-transition: 0.3s ease-in-out;
    //         -ms-transition: 0.3s ease-in-out;
    //         -o-transition: 0.3s ease-in-out;
    //         background: $black;
    //         color: $white;
    //         cursor: pointer;
    //     }

    //     &-text {
    //         transform: skew(-30deg);
    //         -webkit-transform: skew(-30deg);
    //         -moz-transform: skew(-30deg);
    //         -ms-transform: skew(-30deg);
    //         -o-transform: skew(-30deg);
    //     }


    // }
}